<div class="example-config">
    <button class="k-button" (click)="pdf.saveAs('invoice.pdf')">
      Save As PDF...
    </button>
</div>
<kendo-pdf-export
#pdf
paperSize="A4"
margin="2cm"
[proxyURL]="'http://localhost:3000/api/save'"
[proxyTarget]="'_blank'"
[forceProxy]="true"
[repeatHeaders]="false"
[keepTogether]="'.keep-together'"
[title]="'PDF ' + title"
[fileName]="title"
[producer]="''"
[creator]="''"
>
    <h1>{{ title }}</h1>
    <div>
        Body Text: should have Frutiger Truetype Font
    </div>
    <div class="light-text">
        Light Text: should have Frutiger 45 Light Truetype Font
    </div>
    <div class="bold-text">
        Bold Text: should have Frutiger 65 Bold Truetype Font
    </div>
</kendo-pdf-export>